#screen {
    min-width: 100px;
    background-color: #ACC0F7;
    padding: 20px 20px 5px;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 9px 8px 11px #d3d1dd;
}

.container {
    width: 90%;
    max-width: 100px;
    margin: 20px auto;
}